/* header styles */
.logo1{
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;
        
}
.studio{
    position: absolute;
        width: 42px;
        height: 16px;
        left: 457px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none
}
.portfolio{
    position: absolute;
        width: 58px;
        height: 16px;
        left: 552px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none
}
.contacts{
    position: absolute;
        width: 59px;
        height: 16px;
        left: 679px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none
}
.email{
    position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none
}
.namber{
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
        text-decoration: none
}
/* section */
.div1{
    position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background: #2F303A;
}
.text-1{
position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.request{
position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px
}
.text-2{
position: absolute;
    width: 270px;
    height: 15.05px;
    left: 215px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.textp-2{
position: absolute;
    width: 270px;
    height: 70.54px;
    left: 215px;
    top: 798.46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.text-3{
    position: absolute;
        width: 270px;
        height: 15.05px;
        left: 515px;
        top: 774px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.textp-3{
    position: absolute;
        width: 270px;
        height: 70.54px;
        left: 515px;
        top: 798.46px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.text-4{
    position: absolute;
        width: 270px;
        height: 15.05px;
        left: 815px;
        top: 774px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.textp-4{
    position: absolute;
        width: 270px;
        height: 70.54px;
        left: 815px;
        top: 798.46px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.text-5{
    position: absolute;
        width: 270px;
        height: 15.05px;
        left: 1115px;
        top: 774px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.textp-5{
    position: absolute;
        width: 270px;
        height: 70.54px;
        left: 1115px;
        top: 798.46px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
/* section2 */
.text-6{
    position: absolute;
        width: 198px;
        height: 42px;
        left: 701px;
        top: 969px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.foto1{
    position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1061px;
        background: url(.jpg);
        mix-blend-mode: normal;
}
.foto2{
    position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 1061px;
        background: url(.jpg);
}
.foto3{
    position: absolute;
        width: 370px;
        height: 294px;
        left: 1015px;
        top: 1061px;
        background: url(.jpg);
}
/* section3 */

.text-7{
    position: absolute;
        width: 167px;
        height: 42px;
        left: 718px;
        top: 1543px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.foto4{
    position: absolute;
        width: 270px;
        height: 260px;
        left: 215px;
        top: 1635px;
        background: url(.jpg);
        border-radius: 0px;
}

.name1{
    position: absolute;
        width: 151px;
        height: 19px;
        left: 275px;
        top: 1925px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.posada1{
    position: absolute;
        width: 130px;
        height: 19px;
        left: 285px;
        top: 1954px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.foto5{
    position: absolute;
        width: 270px;
        height: 260px;
        left: 515px;
        top: 1635px;
        background: url(.jpg);
        border-radius: 0px;
}
.name2{
    position: absolute;
        width: 109px;
        height: 19px;
        left: 596px;
        top: 1925px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.posada2{
position: absolute;
    width: 147px;
    height: 19px;
    left: 577px;
    top: 1954px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.foto6{
    position: absolute;
        width: 270px;
        height: 260px;
        left: 815px;
        top: 1635px;
        background: url(.jpg);
        border-radius: 0px;
}
.name3{
    position: absolute;
        width: 137px;
        height: 19px;
        left: 882px;
        top: 1925px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.posada3{
    position: absolute;
        width: 76px;
        height: 19px;
        left: 912px;
        top: 1954px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.foto7{
    position: absolute;
        width: 270px;
        height: 260px;
        left: 1115px;
        top: 1635px;
        background: url(.jpg);
        border-radius: 0px;
}
.name4{
    position: absolute;
        width: 134px;
        height: 19px;
        left: 1183px;
        top: 1925px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.posada4{
    position: absolute;
        width: 87px;
        height: 19px;
        left: 1207px;
        top: 1954px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
